*{
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{ 
    height: 300px;
    width: 240px;
   
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%); */
    border: 2px solid salmon;
    border-radius: 20px;
    overflow: hidden;
    translate: -100px ;
}
#card4{
    rotate: -21deg;
    z-index: 1;
    background-color: green;
}
#card2{
    z-index: 3;
    rotate: -7deg;
    background-color: rgb(246, 205, 0);

}
#card3{
    z-index: 2;
    rotate: -14deg;
    background-color: rgb(14, 40, 214);

}
#card1{
    z-index: 4;
    rotate: -1deg;
    background-color: aqua;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card1:hover{
    z-index: 200;
}
#card2:hover{
    z-index: 200;
}
#card3:hover{
    z-index: 200;
}
#card4:hover{
    z-index: 200;
}